input.res {
    text-align: right;
    width: 90px;
}

.ressources > div:nth-child(odd) {
  background: var(--gw-res-odd, white);
}

.ressources > div:nth-child(even) {
  background: var(--gw-res-even, white);
}

input.path-name {
  width: 200px;
}

base-toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

input.date {
  width: 8rem;
}

input.time {
  width: 7rem;
}

a {
  color: var(--gw-start-enabled);
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid var(--borders, grey);
  border-radius: 3px;
  background: var(--gw-light-grey, #eee);
}

lightning-accordion {
  background: var(--gw-dark-grey, white);
}

.allign-bottom {
  display: flex;
  align-items: flex-end;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}