gw-path-logger {
    display: block;
    border: 2px solid var(--gw-galaxy-ali, black);
    height: 12rem;
    overflow: hidden;
    
    pointer-events: none;
}

lightning-accordion {
  background: var(--gw-table-grey-dark, white);
}