textarea {
    display: block;
}

base-toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

p.temp {
    position: fixed;
    top: -10000px;
    z-index: -9999;
    opacity: 0;
}