gw-path-logger {
    border: 2px solid var(--gw-galaxy-ali, black);
    margin: .25rem;
    height: 13rem;
    overflow: hidden;
    
    pointer-events: none;
}

gw-path-logger.inline {
    height: 5.5rem;
}

a[possible] {
    color: var(--gw-start-disabled);
    text-decoration: none;
    font-weight: 400;
    border: 1px solid var(--borders, grey);
    border-radius: .25rem;
    background: var(--gw-button-grey, #eee);
}

a[possible]:hover {
  background: var(--gw-button-grey-hover, #eee);
}

a[possible=true] {
  color: var(--gw-start-enabled);
}

:host {
    --slds-lwc-base-timeline-item-trigger-color: var(--gw-messages-high-severity);
    --slds-lwc-base-timeline-item-trigger-color-hover: var(--gw-galaxy-ali);
    --slds-lwc-base-timeline-item-trigger-color-background: transparent;
    --slds-lwc-base-timeline-item-trigger-color-background-hover: var(--gw-res-even);
    --slds-lwc-base-timeline-item-icon-color-border: var(--borders);
    --slds-lwc-base-timeline-item-vertical-line-color: var(--gw-galaxy-ali);
    --slds-lwc-base-timeline-item-details-color-background: var(--gw-table-grey-dark);
}