@media screen and (max-width: 1024px) {
    .slds-drop-zone__actions lightning-button-icon {  
        width: 2rem;
        display: inline-block;
        text-align: center;
    }
}

.slds-drop-zone > lightning-button-icon {
    display: inline-block;
    transform: scale(1.2) translate(0,-.1rem);
    margin-right: .25rem;
    margin-left: .25rem;
}

ol {
    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
    
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: var(--gw-table-grey-dark, black);
    padding: 0 .125rem;

    position: relative;
}

ol.reverse { 
    display: flex;
    flex-direction: column-reverse;
}

ol.reverse > li:first-child {
    margin-bottom: auto;
}

li {
    color: white;
    border-bottom: solid 1px #80808038;
    position: relative;
    margin-right: 0.75rem;
}

div.slds-drop-zone lightning-button-icon.red {
    --slds-c-icon-color-foreground: red;
    --slds-c-icon-color-foreground-active: red;
    --slds-c-icon-color-foreground-hover: red;
}

div.slds-drop-zone lightning-button-icon.yellow {
    --slds-c-icon-color-foreground: yellow;
    --slds-c-icon-color-foreground-active: yellow;
    --slds-c-icon-color-foreground-hover: yellow;
}

div.slds-drop-zone lightning-button-icon.green {
    --slds-c-icon-color-foreground: green;
    --slds-c-icon-color-foreground-active: green;
    --slds-c-icon-color-foreground-hover: green;
}

.slds-drop-zone {
  padding-left: .25rem;
  font-weight: bold;
  cursor: grab;
}

.slds-drop-zone::after {
  outline: initial;
  pointer-events: none;
}

.dragged {
  opacity: 0.3;
}

.drag-image {
    position: fixed;
    top: -10000px;
    z-index: -9999;
    opacity: 0;
}

.construction {
  color: limegreen;
}

.time {
  color: #00EAFF;
}

.res {
  color: lightskyblue;
}

.error {
  color: red;
}

.command {
  background-color: grey;
  color: black;
}

.command.success {
  background-color: #889988;
}

.command.warning:not(.rejected) {
  background-color: #999977;
}

.command.rejected {
  background-color: #997777;
}

.detail {
  color: orange;
}