ul {
  list-style-type: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 22px;

  height: 400px;
  overflow-y: scroll;
  overflow-x: auto;
  resize: vertical;
  background-color: var(--gw-dark-grey, black);
  padding: 0 1px;

  position: relative;
}

ul.temp {
    position: fixed;
    top: -10000px;
    z-index: -9999;
    opacity: 0;
    width: 100%;
}

li {
  color: white;
  border-bottom: solid 1px #80808038;
  position: relative;
  margin-right: 10px;
}

.slds-drop-zone {
  padding-left: 5px;
  font-weight: bold;
  cursor: grab;
}

.slds-drop-zone::after {
  outline: initial;
}

.dragged {
  opacity: 0.3;
}

.drag-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.construction {
  color: limegreen;
}

.time {
  color: #00EAFF;
}

.res {
  color: lightskyblue;
}

.error {
  color: red;
}

.command {
  background-color: grey;
  color: black;
}

.command.success {
  background-color: #889988;
}

.command.warning:not(.rejected) {
  background-color: #999977;
}

.command.rejected {
  background-color: #997777;
}

.detail {
  color: orange;
}