base-toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

input.coords {
    width: 6rem;
}

input.date {
  width: 8rem;
}

input.time {
  width: 7rem;
}

::placeholder {
    color: var(--text-dark, #747474);
}