table.overview {
    text-align: center;
    color: white;
    border-collapse: collapse;
}

table.overview, table.overview td, table.overview th {
    text-align: center;
    font-weight: normal;
    border: 1px solid black;
}

table.overview th {
    background-color: #333333;
}

table.overview td {
    min-width: 100px;
    background-color: #808080;
}

table.overview td.row-title {
    min-width: 100px;
    font-weight: bold;
    background-color: #162C36;
}

a.time {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a.time:hover {
    color: #FFFF00;
}

span[title] {
  cursor: help;
}

.prod {
    color: palegoldenrod;
}
.transport {
     color: #00FF00;
}
.trade {
    color: rgb(0, 242, 255);
}
.farm {
    color: #FFFF00;
}
.tradeOut {
    color: orange;
}
.cost {
    color: #FF0000;
}
.sum {
    font-weight: bold;
}

.queue {
    color: lightgrey;
}

hr {
    color: white;
    height: 20px;
    margin-top: 0;
    margin-bottom: -20px;
    box-shadow: 0 10px 10px -10px white inset;
    border: 1px solid #fff;
}

.warning-icon {
    fill: #ef6e5d;
    position: relative;
    margin-right: 5px;
    top: -2px;
}

.no-wrap {
    white-space: nowrap;
}

.log {
    white-space: nowrap;
    font-weight: bold;
    color: #ef6e5d;
    position: relative;
    display: inline-block;
}

.log span[role=tooltip] {
    display: none;
    white-space: pre-line;
    text-align: left;
}

.log:hover span[role=tooltip] {
    display: block;
    position: absolute;
    color: #fff;
    border-radius: 3px;
    background-color: #ef6e5d;
    z-index: 100;
    width: max-content;

    top: 20px;
    padding: 4px 12px;
    left: 35%;
    transform: translateX(-50%);
}

.log:hover span[role=tooltip]::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: #ef6e5d;
    top: -2px;
    left: 50%;
}
