:host {
    --sds-c-textarea-sizing-min-height: 500px;
}

@media screen and (min-width: 1024px) {
    .left {
        padding-left: 1rem;
    }
}

base-toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

lightning-accordion {
  background: var(--gw-table-grey-dark, white);
}

input.date {
  width: 8rem;
}

input.time {
  width: 6rem;
  padding-right: 0;
}