:host {
    --sds-c-textarea-sizing-min-height: 500px;
}

base-toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

lightning-accordion {
  background: var(--gw-dark-grey, white);
}

input.date {
  width: 8rem;
}

input.time {
  width: 7rem;
}