:host {
    --sds-c-textarea-sizing-min-height: 35rem;
}

base-toast {
    position: fixed;
    bottom: 0;
    left: 0;
}

section.account {
    border: .25rem solid var(--gw-header-blue, grey);
    background: var(--gw-header-blue);
}

lightning-accordion {
    margin-bottom: 1rem;
    background: var(--gw-table-grey-dark, white);
}

.json {
    border: .25rem solid var(--gw-table-blue-header, black);
}